
<input #userText type="search" (keyup)="buscar(userText.value)" class="form-control rounded" placeholder="Buscar trader">


<hr>



<div class="row"  *ngIf="(users| async) as marginsData">
  <div class=" col-12 col-md-6 col-lg-3 col-xl-2 my-2"  *ngFor= "let marginData of marginsData">
    <div class="card" (click)= "verUserDetail(marginData)" >
      <img [src]="(marginData._id.picture | noImages)" class="img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{marginData._id.name}}</h5>
        <p class="card-text " [style.color]="marginData.totalMargin >0 ? '#2ECC71': 'red'">Rent. acumulada: <b>{{marginData.totalMargin | percent:'.2'}}</b></p>
        <p class="card-text">Operaciones cerradas: <b>{{marginData.totalTransactions}}</b></p>
      </div>
    </div>
  </div>
</div>