img {
    width: 20%;
    }

    .card{
        border: none;
    }
    .border-color{
        background-color: rgb(237, 238, 241);
        border-style: solid;
        border-width:1px;
        border-color: rgb(52, 46, 59) !important;
    }
    p{
        line-height:50%
    }