p {
  background: #F1FAEE;
  padding: 1%;
  margin-bottom: 1%;
}


button {
  margin-bottom: 1%;

  background-color: #E63946;

} 

button:hover {
  background-color: rgb(243, 83, 20);
}

button:active {
  background-color: rgb(24, 243, 20);
}

