<div class="text-center">

<app-user-card-snippet class="ocultar-div"></app-user-card-snippet>
<hr>
   

<h3 class="my-4">Las 100 principales monedas según la capitalización de mercado</h3>

<table class="table container my-4" >
    <thead >
      <tr>
        <th scope="col">#</th>
        <th class="text-right" scope="col">Current Price</th>
        <th class="text-right" scope="col">Price change 24h</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let coin of coins|async">
        <th scope="row" class="text-left">{{coin.id}}</th>
        <td class="text-right">{{coin.current_price | currency}}</td>
        <td class="text-right" [style.color]="coin.price_change_percentage_24h >0 ? 'green': 'red'">{{coin.price_change_percentage_24h / 100 | percent:'.2'}}</td>
        
      </tr>
    </tbody>
  </table>
</div>







