p {
    width: 20%;
    background: #F1FAEE;;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
  }

button {
    width: 10%;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
    #inner{
        width: 50%;
    }
}

@media screen and (min-width: 780px) {
    #inner{
        width: 33%;
    }
}