
<app-user-card-snippet class="ocultar-div"></app-user-card-snippet>
<hr>
<app-margin></app-margin>

<div class="row justify-content-center">
    <div class="col-12">
        <h3 class="p-4">Operaciones abiertas</h3>
        <div class="row d-flex mx-2 font-weight-bold">
            <p class="col-6 col-md-2 text-left">Name</p>
            <p class="col-2 col-md-2 text-right">Purchase Price</p>
            <p class="col-2 col-md-2 text-right">Market Price</p>
            <p class="col-2 col-md-2 text-right">%</p>
            <p></p>
        </div>
        
        <div *ngFor= "let coin of myWallet">
            <app-user-wallet-snippet [coin]="coin.coinName" [purchase_price] = "coin.purchase_price" [market_price]="coin.market_price" [id]="coin.id"></app-user-wallet-snippet>
        </div>
        
        
        <hr>
        <h3 class="p-4">Histórico</h3>
        <div class="row d-flex mx-2 font-weight-bold">
            <p class="col-6 col-md-3 text-left">Name</p>
            <p class="col-2 col-md-3 text-right">Purchase Price</p>
            <p class="col-2 col-md-3 text-right">Market Price</p>
            <p class="col-2 col-md-3 text-right">%</p>
        </div>
        <app-wallet-historical ></app-wallet-historical>
    </div>
</div>



 

