
  <h1>Top traders</h1>
  <div class="row row-cols-2 row-cols-md-5 g-2 m-4" *ngIf="(margin | async) as marginsData">
    <div class="col" *ngFor= "let marginData of marginsData">
      <div class="card h-100 card border-primary">
        <img [src]="(marginData._id.picture | noImages)" class="img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{marginData._id.name}}</h5>
          <p class="card-text">Rentabilidad acumulada: {{marginData.totalTransactions | percent:'.2'}}</p>
        </div>
      </div>
    </div>
  </div>



