<app-user-card-snippet class="ocultar-div"></app-user-card-snippet>
<hr>

    <div class="container-fluid m-4 p-4"*ngIf="(margin | async) as marginData">
        <div class="perfil">
            <img class="img-thumbnail rounded-circle" [src]="marginData._id.picture" alt="">    
            <h3>{{marginData._id.name}}</h3>
            <h4 [style.color]="marginData.margin >0 ? 'green': 'red'">Margin: {{marginData.margin | percent:'.2'}}</h4>
        <app-social [userToFollow]="marginData"></app-social>
        </div>
        
   
    
    <div class="row justify-content-center">
        <div class="col-12">
        <h3 class="p-4">Operaciones abiertas</h3>
        <div class="row d-flex mx-2 font-weight-bold">
            <p class="col-6 col-md-3 text-left">Name</p>
            <p class="col-2 col-md-3 text-right">Purchase Price</p>
            <p class="col-2 col-md-3 text-right">Market Price</p>
            <p class="col-2 col-md-3 text-right">%</p>
        </div>
        
        <div class="row d-flex mx-2" *ngFor= "let coin of myWallet">
        <p class="col-6 col-md-3 text-left">{{coin.coinName}}</p>
        <p class="col-2 col-md-3 text-right">{{coin.purchase_price| currency}}</p>
        <p class="col-2 col-md-3 text-right">{{coin.market_price| currency}}</p>
        <p class="col-2 col-md-3 text-right" [style.color]="coin.market_price > coin.purchase_price ? 'green': 'red'">{{((coin.market_price-coin.purchase_price) / coin.purchase_price) | percent:'.2' }}%</p>
        
        
        </div>
        
        <h3 class="p-4">Histórico</h3>
         <div class="row d-flex mx-2 font-weight-bold">
            <p class="col-6 col-md-3 text-left">Name</p>
            <p class="col-2 col-md-3 text-right">Purchase Price</p>
            <p class="col-2 col-md-3 text-right">Market Price</p>
            <p class="col-2 col-md-3 text-right">%</p>
        </div>
        
        <div *ngIf="(historicalData | async) as newData">
            <div class="row d-flex mx-2"  *ngFor="let data of newData">
             <p class="col-6 col-md-3 text-left">{{data.coin | uppercase}}</p>
             <p class="col-2 col-md-3 text-right">{{data.purchase_price| currency}}</p>
             <p class="col-2 col-md-3 text-right">{{data.sold_price| currency}}</p>
             <p class="col-2 col-md-3 text-right" [style.color]="data.margin >0 ? 'green': 'red'">{{data.margin | percent:'.2'}}</p>
            </div>
        </div>
    </div>

    </div>
    

   




