<app-user-card-snippet></app-user-card-snippet>
<app-margin></app-margin>


    <div class="container-fluid m-4 p-4"*ngIf="(margin | async) as marginData">
        <img class="img-thumbnail rounded-circle" [src]="marginData._id.picture" alt="">    
        <h1>{{marginData._id.name}}</h1>
        <h2 [style.color]="marginData.margin >0 ? 'green': 'red'">Margin: {{marginData.margin | percent:'.2'}}</h2>
        <app-social [userToFollow]="marginData"></app-social>
    </div>
    
    <div class="align-items-center container">
        <h1>Operaciones abiertas</h1>
        <div class="d-flex justify-content-evenly font-weight-bold">
            <p class="mr-4 ">Name</p>
            <p class="mr-4">Purchase Price</p>
            <p class="mr-4">Market Price</p>
            <p class="mr-4">%</p>
        </div>
        
        <div class="d-flex justify-content-evenly" *ngFor= "let coin of myWallet">
        <p class="mr-4 ">{{coin.coinName}}</p>
        <p class="mr-4">{{coin.purchase_price}}</p>
        <p class="mr-4">{{coin.market_price}}</p>
        <p class="mr-4" [style.color]="coin.market_price > coin.purchase_price ? 'green': 'red'">{{((coin.market_price-coin.purchase_price) / coin.purchase_price) | percent:'.2' }}%</p>
        
        
        </div>
        
        <h2 class="p-4">Histórico</h2>
         <div class="d-flex justify-content-evenly font-weight-bold">
            <p class="mr-4">Name</p>
            <p class="mr-4">Purchase Price</p>
            <p class="mr-4">Market Price</p>
            <p class="mr-4">%</p>
        </div>
        
        <div *ngIf="(historicalData | async) as newData">
            <div class="d-flex justify-content-evenly"  *ngFor="let data of newData">
             <p class="mr-4 ">{{data.coin | uppercase}}</p>
             <p class="mr-4">{{data.purchase_price}}</p>
             <p class="mr-4">{{data.sold_price}}</p>
             <p class="mr-4" [style.color]="data.margin >0 ? 'green': 'red'">{{data.margin | percent:'.2'}}</p>
            </div>
        </div>

    </div>
    

   




