



.like-button {
  cursor: pointer;
  &::before {
    font-size: 2em;
    border-radius: 20px;
    border-color: black;
    width: 2em;
    border-style: solid;
    content: '♥';
    position: absolute;
  }

}