/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(238, 241, 248);
    margin:0px; 
    padding:0px
}
* {
    margin:0px; 
    padding:0px;
}

@media screen and (min-width: 480px) {
    #inner{
        width: 50%;
    }
}

@media screen and (min-width: 780px) {
    #inner{
        width: 33%;
    }
}