/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(238, 241, 248);
    margin:0px; 
    padding:0px;
    font-size: 100%;
    
}
* {
    margin:0px; 
    padding:0px;
}

h2, h1, h5{
    color: #1D3557;
}


    .card{
        border: none;
        background-color:#F1FAEE;
    }
    .border-color{
        border-radius: 20px;
        background-color: #F1FAEE;
        border-style: solid;
        border-width:1px;
        border-color: #1D3557 !important;
    }
  
