
<div class="container-fluid">


<app-user-card-snippet></app-user-card-snippet>
 


<div class="table p-4 container-fluid">
  <h2 class="text-center">Las 100 principales monedas según la capitalización de mercado</h2>
<table class="table m-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Current Price</th>
        <th scope="col">Price change 24h</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let coin of coins|async">
        <th scope = "row">{{coin.id}}</th>
        <td>{{coin.current_price}}</td>
        <td [style.color]="coin.price_change_percentage_24h >0 ? 'green': 'red'">{{coin.price_change_percentage_24h / 100 | percent:'.2'}}</td>
        
      </tr>
    </tbody>
  </table>
</div>
</div>




