<div class="row d-flex justify-content-center">
    <p class=" col-4 col-md-2 text-left ">{{coin | uppercase}}</p>
    <P class=" col-2 col-md-2 text-right ">{{price | currency}}</P>
    <button class="col-4 col-md-2 btn" (click)="save($event)">Send to my wallet</button>
</div>



<!-- OTRA OPCIÓN SRÍA HACERLO CON UN FORM -->
  <!-- 
   <form [formGroup]="purchaseForm" (ngSubmit)="save($event)">

        <label>
              Coin 
            <input type="text" formControlName="coin" placeholder="{{coin.id}}">
          </label> 
        
          <label>
            Price:
            <input type="text" formControlName="price" placeholder="{{coin.current_price}}">
          </label>
      
          <label>
              number:
              <input type="text" formControlName="number" value="1">
         </label>
        
            <div class="">
              <button class="btn btn-dark" type="submit" [disabled]="purchaseForm.invalid">
                  +
              </button>
          </div>
    
  </form> -->